<div class="ui container">
    <h1 class="ui header">Login</h1>
    <form class="ui form" ng-submit="ctrl.login()">
        <div class="ui segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="user" placeholder="Username" ng-model="ctrl.user.name">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="share alternate icon"></i>
                    <input type="text" name="team" placeholder="Team" ng-model="ctrl.user.team">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Code" ng-model="ctrl.user.code">
                </div>
            </div>
            <input type="submit" class="ui fluid large teal submit button" value="Login" />
        </div>
    </form>
</div>