<div class="ui container">
    <h3 class="ui header">This week</h3>
    <div class="ui segment">
        <div class="ui active progress primary " id="goal1">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">3 trainings a week</div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui active progress primary" id="goal2">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">1000 suburi a week</div>
        </div>
    </div>

    <h3 class="ui header">Last weeks</h3>
    // TODO: timeline
</div>